
@{
    ViewBag.Title = "LogOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 data-tag="13">@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(13, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</h2>

