
@{
    ViewBag.Title = "LogOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#divmenu').attr('hidden', 'hidden');
            $('li[class="active"]').removeClass();
            $('#menutree').attr('class', 'active');
        });
    </script>
}
<div class="container" style="min-width:80%;height:200px;background-image: url('../../images/tree.jpg');background-repeat:no-repeat;background-size:cover;border:1px solid green;">
    <br/><br/>
    <h1 data-tag="13" style="text-align:center;color:white;"><strong>@ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(13, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</strong></h1>
    <p data-tag="103" style="text-align:center;color:white;"><strong>
        @ApplicationMyRoots.Common.ResourceManager.getElementTextInLanguage(103, ApplicationMyRoots.Common.ResourceManager.LoggedUserLanguageID)</strong>
    </p>
</div>

