@{
    ViewBag.Title = "Home Page";
}

@section scripts
{
    <style type="text/css">
        .minus_plus {
            pointer-events: none;
        }


        /*wyłączanie pointer-eventów od elementów w svg czyli w każdym węźle dla rectów*/
        .tree-elements *:not(rect) {
            pointer-events: none;
        }


        .tree-elements .tree-element-frames,.tree-element-frames-active:hover {
            stroke: #808080;
            cursor: pointer;
        }

        .move-trees:hover {
            stroke-linecap: round;
            stroke-miterlimit: 6;
            stroke: #808080;
            stroke-width: 2;
        }

        .zoom-tree:hover {
            fill: #808080;
        }
    </style>


    <script type="text/javascript">

        var lastClickedRect = null;

        $(document).ready(function () {
            //$("#modal_loading").modal({ backdrop: 'static', keyboard: false }) okienko z loadingiem

            //pobieranie drzewa z api
            $.get("api/HtmlBuilder/GetUserMainTree/" + @Session["LoggedUserID"], function (data) {
                $(".tree").html(data);

                // dodanie onclicka zaznaczenie na czerwono
                $('.tree-elements').on('click', function () {

                    if (lastClickedRect != null) {
                        lastClickedRect.children('.tree-element-frames-active').attr('stroke', 'black');
                        lastClickedRect.children('.tree-element-frames-active').attr('class', 'tree-element-frames');

                        //chowanie przycisków do dodania
                        $(this).children('.addfather').attr('visibility', 'hidden');
                        $(this).children('.addmother').attr('visibility', 'hidden');
                        $(this).children('.addpartnerR').attr('visibility', 'hidden');
                        $(this).children('.addpartnerL').attr('visibility', 'hidden');
                        $(this).children('.addchildren').attr('visibility', 'hidden');

                        if (lastClickedRect.attr('id') == $(this).attr('id')) // gdy chcemy odznaczyć zaznaczonego
                        {
                            lastClickedRect = null;
                            return;
                        }
                    }

                    $(this).children('.tree-element-frames').attr('stroke', 'red');
                    $(this).children('.tree-element-frames').attr('class', 'tree-element-frames-active');

                    lastClickedRect = $(this);

                    //wyświetlenie przycisków do dodawania członków rodziny
                    $(this).children('.addfather').attr('visibility', 'visible');
                    $(this).children('.addmother').attr('visibility', 'visible');
                    $(this).children('.addpartnerR').attr('visibility', 'visible');
                    $(this).children('.addpartnerL').attr('visibility', 'visible');
                    $(this).children('.addchildren').attr('visibility', 'visible');

                });
            });


            //pobieranie tranformmatrix
            $.get("api/HtmlBuilder/GetUserMainTreeTransformMatrix/" + @Session["LoggedUserID"], function (data) {
                if(data!=null)
                    $(".tree").attr('transform', data);
            });


            //unload - do zapisywania aktualnego powiększenia/pomnijeszenia przesunięcia drzewa
            $(window).unload(function () {
                $.ajax({
                    url: 'api/HtmlBuilder/SaveUserMainTree/' + @Session["LoggedUserID"],
                    headers: { 'matrix': $('.tree').attr('transform') },
                    method: 'GET'
                });
            });


            // dodanie onclicka zaznaczenie na czerwono
            //$('.tree-elements').on('click', function () {
            //    if (lastClickedRect != null) {
            //        lastClickedRect.children('.tree-element-frames-active').attr('stroke', 'black');
            //        lastClickedRect.children('.tree-element-frames-active').attr('class', 'tree-element-frames');
            //    }

            //    $(this).children('.tree-element-frames').attr('stroke', 'red');
            //    $(this).children('.tree-element-frames').attr('class', 'tree-element-frames-active');

            //    lastClickedRect = $(this);
            //});

        });

        function move(dx, dy) {
            var matrix = $('.tree').attr('transform');
            matrix = matrix.substring(7, matrix.length - 1);
            matrix = matrix.split(' ');

            matrix[4] = parseInt(matrix[4]) + dx;
            matrix[5] = parseInt(matrix[5]) + dy;

            $('.tree').attr('transform', "matrix(" + matrix[0] + ' ' + matrix[1] + ' ' + matrix[2] + ' ' + matrix[3] + ' ' + matrix[4] + ' ' + matrix[5] + ')');
        }

        function scale(scale) {
            var matrix = $('.tree').attr('transform');
            matrix = matrix.substring(7, matrix.length - 1);
            matrix = matrix.split(' ');

            for (var i = 0; i < matrix.length; i++) {
                matrix[i] *= scale;
            }

            matrix[4] += (1 - scale) * parseInt($('.svg_container').width()) / 2;
            matrix[5] += (1 - scale) * parseInt($('.svg_container').height()) / 2;

            $('.tree').attr('transform', "matrix(" + matrix[0] + ' ' + matrix[1] + ' ' + matrix[2] + ' ' + matrix[3] + ' ' + matrix[4] + ' ' + matrix[5] + ')');
        }


    </script>
}


<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">

    <svg class="svg_container" height="1000" width="100%" style="border:1px gray solid">

        <g class="tree" transform="matrix(2 0 0 2 0 0)">
            @*<svg class="tree-elements" id="2" width="240" height="140" x="100" y="50">
                <rect class="tree-element-frames" width="200" height="100" x="20" y="20" fill="white" stroke="black" />
                <text class="tree-element-texts" x="50%" y="25%" font-family="verdana" font-size="12" fill="blue" alignment-baseline="middle" text-anchor="middle">krzysztof</text>
                
                <rect class="addfather" width="80" height="20" x="30" y="0" fill="white" stroke="red" />
                <text class="addfather" x="28%" y="8%" font-family="verdana" font-size="6" fill="black" alignment-baseline="middle" text-anchor="middle">Dodaj Ojca</text>
            
                <rect class="addmother" width="80" height="20" x="130" y="0" fill="white" stroke="red" />
                <text class="addmother" x="71%" y="8%" font-family="verdana" font-size="6" fill="black" alignment-baseline="middle" text-anchor="middle">Dodaj Matkę</text>

                <rect class="addpartnerR" width="20" height="80" x="220" y="30" fill="white" stroke="red" />
                <text class="addpartnerR" transform="rotate(90)" x="29%" y="-164%" font-family="verdana" font-size="6" fill="black" alignment-baseline="middle" text-anchor="middle">Dodaj Partnera</text>

                <rect class="addpartnerL" width="20" height="80" x="0" y="30" fill="white" stroke="red" />
                <text class="addpartnerL" transform="rotate(90)" x="29%" y="-8%" font-family="verdana" font-size="6" fill="black" alignment-baseline="middle"text-anchor="middle">Dodaj Partnera</text>

                <rect class="addpartnerL" width="20" height="80" x="0" y="30" fill="white" stroke="red" />
                <text class="addpartnerL" transform="rotate(90)" x="29%" y="-8%" font-family="verdana" font-size="6" fill="black" alignment-baseline="middle" text-anchor="middle">Dodaj Partnera</text>

                <rect class="addchildren" width="180" height="20" x="30" y="120" fill="white" stroke="red" />
                <text class="addchildren" x="50%" y="92%" font-family="verdana" font-size="6" fill="black" alignment-baseline="middle" text-anchor="middle">Dodaj Dziecko</text>
            </svg>*@
        </g>

        <!-- Kontrolka do przewijania -->
        <circle cx="50" cy="50" r="42" fill="white" opacity="0.75"></circle>
        <path class="move-tree" onclick="move(0,50)" d="M50 10 l12 20 a40, 70 0 0, 0 -24, 0z"></path>
        <path class="move-tree" onclick="move(50,0)" d="M10 50 l20 -12 a70, 40 0 0, 0 0, 24z"></path>
        <path class="move-tree" onclick="move(0,-50)" d="M50 90 l12 -20 a40, 70 0 0, 1 -24, 0z"></path>
        <path class="move-tree" onclick="move(-50,0)" d="M90 50 l-20 -12 a70, 40 0 0, 1 0, 24z"></path>

        <!-- Otoczka powiększ/pomniejsz-->
        <circle cx="50" cy="50" r="20" fill="white" stroke="black" stroke-width="1" />

        <!-- Powiększ/pomniejsz-->
        <circle class="zoom-tree" onclick="scale(0.8)" cx="50" cy="40" r="7" fill="white" stroke="black" stroke-width="1"/>
        <circle class="zoom-tree" onclick="scale(1.25)" cx="50" cy="60" r="7" fill="white" stroke="black" stroke-width="1"/>

        <!-- Minus/Plus pomniejszania-->
        <rect class="minus_plus" x="45" y="38.5" width="10" height="3" />

        <rect class="minus_plus" x="45" y="58.5" width="10" height="3" />
        <rect class="minus_plus" x="48.5" y="55" width="3" height="10" />
    </svg>
</div>


<!-- Okno modalne operacja w tle -->
<div id="modal_loading" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:90px;">
        <div class="modal-content" style="margin:10%;">
            <img src="/images/ajax-loader.gif" id="loading-indicator" />
        </div>
    </div>
</div>